<!DOCTYPE html>
<html lang='en'>

<head>
	<meta charset="utf-8">
	<title>Quotes</title>
	<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
</head>

<body>
	<h1>Welcome, {{ session['alias'] }}!</h1>
	<br>
	<h3>Contribute a Quote</h3>
<!-- 	<form action='/quotes/submit' method='POST'>
		<h3>Quoted by:</h3>

		{% with messages = get_flashed_messages() %}
			{% if messages %}
				{% for message in messages %}
					<h3>{{ message }}</h3>
				{% endfor %}
			{% endif %}
		{% endwith %}

		<input type="text" name="name">
		<h3>Message</h3>
		<input type="text" name="description">
		<br>
		<input type="submit" value="Submit">
	</form> -->

	<h3>Quotable Quotes</h3>
</body>
</html>